<!-- IF S_ADS_ROTATION and .ads -->
<script src="http://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript"></script>
<!-- BEGIN ads -->
	<div class="phpbb_ads_rotation" id="rotating_ad_{ads.AD_ID}"<!-- IF not ads.AD_FIRST --> style="display: none;"<!-- ENDIF -->><!-- IF ads.AD_URL --><a href="{ads.AD_URL}"<!-- IF ads.AD_DESCRIPTION --> title="{ads.AD_DESCRIPTION}"<!-- ENDIF -->><!-- ENDIF --><img src="{ads.AD_IMG}<!-- IF ads.AD_DESCRIPTION --> alt="{ads.AD_DESCRIPTION}"<!-- ENDIF --> /><!-- IF ads.AD_URL --></a><!-- ENDIF --></div>
<!-- END ads -->
<!-- ENDIF -->